form {
    margin-top: 3rem;
  }
  
  form input[name="city"],
  form input[name="country"] {
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    border-bottom: 2px solid rgb(177, 177, 177);
    border-radius: 4;
  }

  /* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #d1cf4f radial-gradient(circle, transparent 1%, #fffd7b 1%) center/15000%;
}
.ripple:active {
  background-color: #f0ec14;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(43, 43, 43);
  background-color: #fdf901;
  box-shadow: 0 0 12px #999;
  outline: none!important;
}